In [1]:
import pandas as pd

## used for data manipulation and analysis.

### it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called dataFrame that looks very similar to a table in a statistical software

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Series  is a one-dimensional labeled array capable of holding any data type

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Dataframe is 2-dimensional labeled data structure with columns of potentially different types

In [10]:
df = pd.DataFrame(np.random.randn(3,4), columns=list('ABCD'))
print(df)

          A         B         C         D
0 -1.029188 -0.639340  0.391742 -0.482924
1 -0.416602 -0.087120  0.923320  0.215467
2 -0.416552  0.242626 -1.838038  0.178113

In [14]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [15]:
df

   col1  col2
0     1     3
1     2     4

### Numpy and pandas

In [17]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['a', 'b', 'c'])

In [18]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
df = pd.DataFrame({ 'A' : 1.,
                    'B' : ['I', 'II', 'III', 'IV'],
                    'C' : np.array([3] * 4,dtype='int32'),
                     'D': pd.Timestamp('20130102')})

In [28]:
df

     A    B  C          D
0  1.0    I  3 2013-01-02
1  1.0   II  3 2013-01-02
2  1.0  III  3 2013-01-02
3  1.0   IV  3 2013-01-02

In [29]:
print(df[0:2])

     A   B  C          D
0  1.0   I  3 2013-01-02
1  1.0  II  3 2013-01-02

In [37]:
print(df.loc[:'B']=="I")

       A      B      C      D
0  False   True  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False