In [1]:
import pandas as pd
from sklearn import preprocessing
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [2]:
weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy']
temp=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [3]:
data = {'Weather':weather, 'Temperature':temp,"Play":play} 
# Create DataFrame 
df = pd.DataFrame(data)

In [4]:
df.head()

  Play Temperature   Weather
0   No         Hot     Sunny
1   No         Hot     Sunny
2  Yes         Hot  Overcast
3  Yes        Mild     Rainy
4  Yes        Cool     Rainy

# Label encoder

In [5]:
def label_encoder(serie):
    #creating labelEncoder
    le = preprocessing.LabelEncoder()
    # Converting string labels into numbers.
    return le.fit_transform(serie)

In [6]:
df.Weather=label_encoder(df.Weather)   
df.Play=label_encoder(df.Play)
df.Temperature=label_encoder(df.Temperature)

In [7]:
df.head()

   Play  Temperature  Weather
0     0            1        2
1     0            1        2
2     1            1        0
3     1            2        1
4     1            0        1

In [8]:
train_x, test_x, train_y, test_y = train_test_split(df[["Temperature","Weather"]], df[["Play"]], test_size=0.3,random_state=109) # 70% training and 30% test

In [12]:
df[["Temperature","Weather"]]

    Temperature  Weather
0             1        2
1             1        2
2             1        0
3             2        1
4             0        1
5             0        1
6             0        0
7             2        2
8             0        2
9             2        1
10            2        2
11            2        0
12            1        0
13            2        1

In [10]:
#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(train_x,train_y)

#Predict Output
#predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild

/home/helmi/.local/lib/python3.5/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print ("Predicted Value:", predicted)

Predicted Value: [0]

In [ ]:
#Import scikit-learn dataset library
from sklearn import datasets

#Load dataset
wine = datasets.load_wine()

In [ ]:
# print the names of the 13 features
print ("Features: ", wine.feature_names)

# print the label type of wine(class_0, class_1, class_2)
print ("Labels: ", wine.target_names)

In [ ]:
wine.data[0:5]

In [ ]:
wine.target

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3,random_state=109) # 70% training and 30% test

In [ ]:
y_train

In [ ]:
type(X_train)