# Python important topics

In [1]:
print("hello word")

hello word

In [6]:
print ("""We are learning Python .
Very funny.""")

We are learning Python .
Very funny.

## Variable

In [7]:
string1 = 'is cool'
print ('Python', string1)

string2 = 'yep !'
print ('Python', string1, string2)

Python is cool
Python is cool yep !

In [8]:
type(string1)

str

In [9]:
print ("Python %s hahahaha" % string1)

Python is cool hahahaha

# Python String Methods

## SPLIT

In [10]:
ch="la vie en rose"

In [11]:
ch.split()

['la', 'vie', 'en', 'rose']

In [12]:
ch2="la.vie est . belle"

In [13]:
ch2.split(".")

['la', 'vie est ', ' belle']

In [14]:
chaine="hello everyone ! "

In [15]:
chaine

'hello everyone ! '

### Convert the first character to upper case

In [21]:
chaine=chaine.capitalize()

In [22]:
chaine

'Hello everyone ! '

### lower & upper case

In [19]:
print(chaine.lower())
print(chaine.upper())

hello everyone !
HELLO EVERYONE !

### Count : returns the number of times a specified value occurs in a string

In [23]:
chaine.count("e")

4

### find : searches the string for a specified value and returns the first position of where it was found

In [24]:
chaine.find("o")

4

### replace

In [25]:
chaine.replace("o","s")

'Hells everysne ! '

### title

In [26]:
chaine.title()

'Hello Everyone ! '

### endswith

In [27]:
chaine.endswith("f")

False

# Data Structures

###  It is the the collection or group of data in a particular structure.

## LIST

In [28]:
my_list=list()
type(my_list)

list

In [29]:
my_list=["python","java"]

In [30]:
my_list

['python', 'java']

In [38]:
my_list[0:len(my_list)]

['python', 'java']

### length

In [31]:

len(my_list)

2

# aziz list

In [ ]:
aziz

### indexing

In [32]:
my_list[0]

'python'

In [34]:
my_list[1]

'java'

In [33]:
my_list[-1]

'java'

In [39]:
my_list.index("java")

1

In [40]:
for i in my_list:
    print(i)

python
java

In [41]:
for i in my_list:
    print(my_list.index(i),  i)

0 python
1 java

### append

In [42]:
my_list.append("pascal")

In [43]:
my_list

['python', 'java', 'pascal']

In [50]:
my_list.append(4)

In [51]:
my_list

['python', 'java', 'pascal', 4, 'python', 'Angular', [4], 4]

### extend

In [46]:
my_list.extend(["python","Angular"])

In [52]:
my_list

['python', 'java', 'pascal', 4, 'python', 'Angular', [4], 4]

In [53]:
my_list.count("python")

2

### insert

In [54]:
my_list.insert(2,"C++")

In [55]:
my_list

['python', 'java', 'C++', 'pascal', 4, 'python', 'Angular', [4], 4]

### reverse

In [56]:
my_list.reverse()

In [57]:
my_list

[4, [4], 'Angular', 'python', 4, 'pascal', 'C++', 'java', 'python']

### clear

In [58]:
my_list.clear()

In [59]:
my_list

[]

In [60]:
my_list=[0,1,2,3]

In [61]:
my_list

[0, 1, 2, 3]

### sort

In [62]:
my_list.sort(reverse=True)

In [63]:
my_list

[3, 2, 1, 0]

In [64]:
my_list[1]=7

In [65]:
my_list

[3, 7, 1, 0]

# TUPLE

## A tuple is a collection which is ordered and unchangeable

In [72]:
my_tuple = ("apple", "banana", "cherry",5)
print(my_tuple)

('apple', 'banana', 'cherry', 5)

In [73]:
my_tuple[0]

'apple'

### You cannot add items to a tuple & you can change items:

In [76]:
my_tuple[1]=7

TypeError: 'tuple' object does not support item assignment

### del : the del keyword can delete the tuple completely

In [69]:
del my_tuple

# SET

## Sets are mainly used to eliminate repeated numbers in a sequence/list

In [77]:
lista=[1,2,2,4,1,3]

In [78]:
s=set(lista)

In [79]:
s

{1, 2, 3, 4}

In [80]:
type(s)

set

In [ ]:
print(2 in s)

### Once a set is created, you cannot change its items, but you can add new items.

In [81]:
s.add("tamtouma")

In [82]:
s

{1, 2, 3, 4, 'tamtouma'}

# DICT

In [83]:
my_dict ={
  "name": "emna",
  "coutry": "tunisia",
   "age":"22" 
}
print(my_dict)

{'name': 'emna', 'coutry': 'tunisia', 'age': '22'}

In [87]:
my_dict["age"]

'22'

### change

In [88]:
my_dict["age"]=67

In [89]:
my_dict

{'age': 67, 'coutry': 'tunisia', 'name': 'emna'}

### loop

In [90]:
for d in my_dict:
    print(d)

name
coutry
age

In [91]:
for v in my_dict.values():
    print(v)

emna
tunisia
67

In [92]:
for x,y in my_dict.items():    
    print(x," : ",y)

name  :  emna
coutry  :  tunisia
age  :  67

### add item

In [93]:
my_dict["Married"]="nope"

In [94]:
my_dict

{'Married': 'nope', 'age': 67, 'coutry': 'tunisia', 'name': 'emna'}

# Functions

In [102]:
def minus(a,b):
    print(a)
    a=7
    print(a)
    return a-b

In [103]:
a=minus(4,2)

4
7

In [104]:
a

5

In [129]:
a=10

In [130]:
def aziz(x):
    return x

In [131]:
aziz(3)

3

In [132]:
a

10

In [ ]:
def somme(a,b):
    c=a+b
    return c

In [ ]:
my_sum=somme(4,6)

In [ ]:
my_sum

In [ ]:
z=4

In [ ]:
z

In [ ]:
def learn():
    global z
    z=0
    print(z)

In [ ]:
learn()

In [ ]:
z